:root {
    --main-color: #878787;
}

#question{
    font-size: 170px;
    float: left;
    display: block;
    #color: yellow;
    margin: inherit;
    text-shadow: 2px 1px 4px #191919;
}

#definition-Text{
    background-color: var(--main-color);
    #color: yellow;
    padding: 15px;
    margin-left: 95px;
}

.textbox{
    margin-top: 50px;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
}
@media(max-width: 500px){
    .textbox{
        display: inherit;
    }
    
}

.textbox .text{
    display: contents;
}

.textcontainer{
    width: 70%;
    padding: 20px;
}

.textbox img{
    width: 30vw;
    height: 30vw;
}


.PostIt{
    
    background:#fefabc; 
    padding:15px; 
    font-family: 'Gloria Hallelujah', cursive; 
    font-size:20px; 
    color: #000; 
    width: 300px; 
    box-shadow: 0px 4px 6px #333;
    transform: rotate(7deg);
    
    display: table-cell;
    vertical-align: middle;
}