#question{
    font-size: 170px;
    float: left;
    display: block;
    color: yellow;
    margin: inherit;
    text-shadow: 2px 1px 4px #191919;
}

#definition-Text{
    background-color: var(--main-color);
    color: yellow;
    padding: 15px;
    margin-left: 95px;
}

.textbox{
    margin-top: 50px;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
}

.textbox .text{
    display: contents;
}

.textcontainer{
    width: 70%;
    padding: 20px;
}

.text img{
    width: 30vw;
    height: 30vw;
}